<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title><%= pageTitle %></title> -->
    <title> -HOME PAGE</title>
</head>
<body>
    <form action="/add-todo" method="GET">
        <button>Add Todo</button>
    </form>
    <form action="/todos" method="GET">
        <button>GET Todo</button>
    </form>
</body>
</html>